<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.growatt.atess">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.launch.activity.LaunchActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mine.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="nosensor">

        </activity>

        <activity
            android:name=".ui.mine.activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.SelectAreaActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.AboutActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.FindBackPasswordActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.ModifyPasswordByPhoneOrEmailActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.ModifyPasswordActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.ChangePhoneOrEmailActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.ModifyInstallerNoActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.common.activity.WebActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.CancelAccountActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.mine.activity.SelectLanguageActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".component.image.crop.CropImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.plant.activity.AddPlantActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.common.activity.AMapActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>